@charset "UTF-8";
/* setting
=================================================*/
html {
    font-size: 100%;
}
body {
	color: #555;
	font-family: sans-serif;
}
.container {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}
section {
    height: 100vh;
    scroll-snap-align: start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.title {
    font-family: 'Dancing Script', cursive;
    font-size: 7rem;
    margin-bottom: 2rem;
}
p {
    line-height: 1.7;
    font-size: 1.125rem;
}
/*hero
======================================================*/
.hero {
    background-image: url(../images/bread1.jpg);
    text-align: center;
    padding-top: 10vh;
}
/*menu
=======================================================*/
.menu {
    background-image: url(../images/bread2.jpg);
    display: flex;
    align-items: center;
}
.wrapper {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.menu-list tr {
    font-size: 1.125rem;
    margin-bottom: .5rem;
    line-height: 1.7;
}
.menu-list th {
    font-weight: normal;
}
.menu-list td {
    padding-left: 1rem;
}
/*contact
=======================================================*/
.contact {
    background-image: url(../images/cafe.jpg);
    text-align: center;
    padding-top: 8vh;
}
.telNum {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: bold;
    border-bottom: #555 solid 2px;
    width: fit-content;
    margin: 0 auto;
}
.btn {
    background: #555;
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 3.5rem;
    border-radius: 6px;
    display: inline-block;
    margin: 2rem 0 2.25rem;
}
.btn:hover {
    background: #777;
}
.contact-sns {
    display: flex;
    justify-content: center;
}
.contact-sns a {
    background: #fff;
    width: 3.75rem;
    height: 3.75rem;
    display: inline-block;
    margin: 0 .5rem;
    border-radius: 50%;
    font-size: 2rem;
    padding: .75rem 0 0 .125rem;
    color:#555;
}
.contact-sns a:hover {
    background: #eee;
}
/*media responseive
=======================================================*/
@media (max-width:700px) {
    .title {
        font-size: 4rem;
    }
    .btn {
        padding: .75rem 2.5rem;
    }
    .menu-list li {
        font-size: 1rem;
    }
    .hero {
        padding-top: 12vh;
    }
}