@charset "UTF-8";

body {
    background-color: #acacac00;
}
.header-content, .main-content-wrapper {
    max-width: 1000px;
}
.header-content {
    width: 100%;
    background-color: #1146a8;
    padding: 1rem 5rem;
}
.main-content-wrapper {
    display: flex;
    margin: 0 auto;
}
main {
    width: 70%;
    padding: 20px;
}
aside {
  width: 30%;
  padding: 20px;
  background-color: #f5f5f5;
}
